<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>留言板</title>


</head>

<body>
    <h1>您对学院建设和发展有任何意见和建议，可以在下方留言给我们！</h1>
    <form action="/m" method="GET">
        <div>
            <textarea style="margin: 0px; height: 304px; width: 628px;" name="content" placeholder="请输入你要留言的信息"></textarea>
        </div>
        <div>
            <button value="submit">提交</button>
        </div>
    </form>

</body>
</html